pkgbase = python-aiorpcx
	pkgdesc = A generic asyncio library implementation of RPC suitable for an application that is a client, server or both.
	pkgver = 0.17.0
	pkgrel = 1
	url = https://github.com/kyuupichan/aiorpcX/
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python>=3.6
	depends = python-attrs
	source = https://github.com/kyuupichan/aiorpcX/archive/0.17.0.tar.gz
	sha256sums = b743629e8e3b3783d0a2fe3a25e55f30a35d7f148d863c8b6f0c50db6350c379

pkgname = python-aiorpcx

