pkgbase = bitbox-wallet-app-appimage
	pkgdesc = BitBox cryptocurrency hardware wallet desktop app with Bitcoin, Segwit, Bech32 and native Litecoin support in an AppImage
	pkgver = 4.4.0
	pkgrel = 1
	url = https://shiftcrypto.ch/
	arch = x86_64
	license = Apache
	makedepends = p7zip
	noextract = bitbox-4.4.0.AppImage
	options = !strip
	source = https://github.com/digitalbitbox/bitbox-wallet-app/releases/download/v4.4.0/BitBox-4.4.0-x86_64.AppImage
	source = https://github.com/digitalbitbox/bitbox-wallet-app/releases/download/v4.4.0/BitBox-4.4.0-x86_64.AppImage.asc
	source = bitbox.svg
	validpgpkeys = 43C1F3ED7A624B6C75F79DDD4F35588AAF0E728A
	sha256sums = 70fe3ad82af34968386d65491b5ea8208bcbca79c0ee98de87d7995087aeaf71
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = bitbox-wallet-app-appimage

